body{
  background-image: url(/Users/Marc/Desktop/gschool/week_3/tests/galvanize-personnel/assets/images/background_img.jpg);
  background: linear-gradient(to bottom left,rgb(17, 195, 244,.3),rgb(0, 46, 186,.6),rgb(31, 45, 86,.3));
  background-repeat: no-repeat;
  background-position: center;
  background-size:280%;
}
#content  {
  display:flex;
}
h4  {
  width: 500px;
  font-family: 'Muli', sans-serif;
  background:linear-gradient(to top right,#FF533E 70%,white,#FF533E);
  margin:auto;
  margin-top:44px;
  font-size:50px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 4px 4px 5px #07e8f4;
  border:1px solid black;
}

h1  {
  width: 300px;
  font-family: 'Muli', sans-serif;
  background-color: #FF533E;
  margin:auto;
  font-size: 28px;
  margin-top:35px;
}

form {
  background-color:#AB987A;
  width:370px;
  text-align: center;
  margin: auto;
  margin-top:100px;
  height:430px;
  box-shadow: 4px 4px 5px #07e8f4;

}
h2  {
  font-family: 'Muli', sans-serif;
}

#firstHeader  {
  padding-top: 30px;
  margin-bottom:10px;
}

#secondHeader  {
  margin-bottom:10px;
}
#firstName{
  text-align: center;
  margin-top:0px;
  height:25px;
  width:160px;
  font-size: 18px;
  margin-top: 0px;
  background-color: #e8e1e1;
  box-shadow: 3px 3px 4px grey;
  border: 1px solid black;
}
#lastName{
  text-align: center;
  height:20px;
  width:160px;
  font-size: 18px;
  margin-bottom: 10px;
  background-color: #e8e1e1;
  box-shadow: 3px 3px 4px grey;
}
::-webkit-input-placeholder  {
  font-size: 13px;
  text-align: center;
}

#pics{
  display: block;
  margin: auto;
  margin-top:28px;
  border-radius: 5px;
  box-shadow: 4px 4px 7px grey;
}
#roleSelect {
  background-color:#3d59bf;
  text-align: center;
  color:white;
  height:25px;
  display:block;
  margin: auto;
  font-size: 16px;
  padding:8px 12px 8px 12px;
  margin-top:10px;

}



#defaultSelect{
  color:grey;
  display:none;
}

#save-status  {
  color:white;
}
button  {
  margin-top: 42px;
  background-color: #05a9fc;
  padding:10px 6px 10px 6px;
  margin-bottom: 10px;
  color:white;
  font-size:18px;
  font-family: Muli, sans-serif;
  border-radius: 8px;
  box-shadow: 3px 3px 5px grey;
  border: 2px solid black;
  opacity: .8;
}
button:hover  {
  border: 1px solid red;
  box-shadow:inset 2px 2px 4px black;
}
#character {
  width:400px;
  text-align: center;
  margin: auto;
  margin-top:100px;
  margin-left: 10px;
  height:430px;
  box-shadow: 4px 4px 5px #07e8f4;
}

form, #character  {
  border-radius: 10px;
   background: linear-gradient(rgba(246,246,246,1), rgba(246,246,246,.4));
}

#charHead {
  width: 200px;
  margin:auto;
  margin-top:40px;
  font-size: 24px;
}

#firstOut {
font-family: 'Muli', sans-serif;
font-size: 36px;
font-weight: bold;

}
#secondOut {
font-family: 'Muli', sans-serif;
font-size: 25px;
}
footer{



}

h1, #charHead {
  border-radius: 4px;
  box-shadow: 4px 3px 6px grey;

}
#outputs  {
  margin-top:10px;
}
#charHead{
  margin-bottom:3px;
}
