header {
  background-color: red;
  width:20em;
  text-align:center;
  margin:auto;
}
body {
  background-color:green;
}

button  {
  background-color: blue;
  padding:5%;
  margin:auto;
  display:flex;
  justify-content: center;
  margin-top:5em;
  color:white;
  font-size: 35px;

}
div  {
  margin:auto;
}
#result {
  height:4em;
  width:20em;
  display:flex;
  margin:auto;
  justify-content: center;
  margin-top:3em

}
h1  {
  color:white;
}
#result h2  {
  color:white;

}
